body {
  background-color: #0D1117;
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
}
button {
  background-color: #4493F8;
  color: #428CED;
  border-style: solid;
  border-weight: 1px;
  border-color: #161B22;
}
