html{
  font-family: 'pt sans', sans-serif;
  background-color: #000;
  border-style: solid;
  border-radius: 15px;
  border-width: 5px;
}
body {
  /*
  position: fixed;
  left: 50%;
  top: 50%;
  width: 90vw;
  height: 90vh;
  */
  background: #222;
  border-style: solid;
  border-color: #333;
  border-radius: 15px;
  border-width: 5px;  color: #ddd;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 20px;
  /*transform: translate(-50%, -50%);*/
}
h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

textarea{
  font-family: 'pt-sans', sans-serif;
  color: #ffffff;
  background-color: #444;
  border-style: solid;
  border-color: #333;
  border-radius: 15px;
  border-width: 5px;
  font-weight: bold;
  font-size: 15px;
}

input[type="file"]{
  padding: 5px;
}

input[type="button"],
button,
select {
  border: 2px;
  background-color: #333;
  color: #eee;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  border-color: #2b2b2b;
  border-style: solid;
}

input[type="button"]:hover, button:hover, option:hover{
  background-color: #444;
}

input[type="text"]:hover{
  cursor: text;
}

#output {
  position: fixed;
  z-index: -1;
  top: 6vh;
  right: 4vw;
  border: none;
  width: 92vw;
  height: 88vh;
  background-color: #444;
  border: 5px, solid, #444;
  border-radius: 10px;
  cursor: grab;
}
#output:active {
  cursor: grabbing;
}

/* Toolbar styles */
#toolbar {
  display: flex; /* Arrange buttons horizontally */
  padding: 10px;
  background: #222;
  border-radius: 10px;
  position: fixed;
  width: auto;
  height: auto;
  top: 5px;
  left: 5px;
}

#toolbar button {
  margin-right: 5px; /* Add spacing between buttons */
}

#tester {
  position: fixed;
  bottom: 5px;
  left: 5px;
}

#content {
  display: none;
}

.huge {
  font-size: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

#error {
  display: none;
}

#values {
  display: none;
}

#click2start {
  display: block;
}

.values {
  border-collapse: collapse;
}

td, th {
  width: 75px;
  height: 20px;
  min-width: 75px;
  min-height: 20px;
  text-align: center;
}

.fullborder {
  border: 1px solid black;
}

.rightborder {
  border-right: 1px solid black;
}

.cornercell {
  border-top: none;
  border-left: none;
}

.noborder {
  border: 1px solid #0000;
}

.highlight {
  background-color: yellow;
}

.wide {
  display: inline-block;
  width: 200px;
}

.value {
  font-family: monospace;
}

#code {
  width: 300px;
  height: 200px;
  white-space: nowrap;
  overflow: auto;
  resize: horizontal;
}

#instructiontable td,
#instructiontable th {
  min-width: 125px;
  min-height: 25px;
  width: 125px;
  height: 25px;
  font-size: 12px;
  font-family: sans-serif;
  padding: 1px;
}

.blackfill:not(.cornercell) {
  color: white;
  background-color: black;
  border-color: white;
}

details details summary {
  margin-left: 25px;
}

details details div {
  margin-left: 45px;
}

#slowmosliderspan {
  display: none;
}

#slowmoslider {
  width: 1000px;
}
