#content {
  display: none;
}

.huge {
  font-size: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

#error {
  display: none;
}

#values {
  display: none;
}

#click2start {
  display: block;
}

.values {
  border-collapse: collapse;
}

td, th {
  width: 75px;
  height: 20px;
  min-width: 75px;
  min-height: 20px;
  text-align: center;
}

.fullborder {
  border: 1px solid black;
}

.rightborder {
  border-right: 1px solid black;
}

.cornercell {
  border-top: none;
  border-left: none;
}

.noborder {
  border: 1px solid #0000;
}

.highlight {
  background-color: yellow;
}

.wide {
  display: inline-block;
  width: 200px;
}

.value {
  font-family: monospace;
}

#code {
  width: 300px;
  height: 200px;
  white-space: nowrap;
  overflow: auto;
  resize: horizontal;
}

#instructiontable td,
#instructiontable th {
  min-width: 125px;
  min-height: 25px;
  width: 125px;
  height: 25px;
  font-size: 12px;
  font-family: sans-serif;
  padding: 1px;
}

.blackfill:not(.cornercell) {
  color: white;
  background-color: black;
  border-color: white;
}

details details summary {
  margin-left: 25px;
}

details details div {
  margin-left: 45px;
}

#slowmosliderspan {
  display: none;
}

#slowmoslider {
  width: 1000px;
}
